# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
secrets.toml

# OS files
.DS_Store
Thumbs.db

# Streamlit secrets (JANGAN di-upload ke GitHub!)
.streamlit/secrets.toml